#!/usr/bin/env python

arks = [
	{
		'from': '/media/SENJOUGAHARA/_ark/',
		'to': 'Senjougahara/',
	},

	{
		'from': '/media/SAKAGAMI/_ark/',
		'to': 'Sakagami/',
	},

	{
		'from': '/home/_ark/',
		'to': 'Tokido/',
	},
]
